@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0 auto;
}
header .logo {
  margin-top: 8px;
}
header .logo img {
  width: 50%;
  height: auto;
}
header nav .logo {
  display: none;
}
header nav ul {
  display: flex;
}
header nav ul .btnLogin-popup {
  display: inline-block;
  padding: 3px 25px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.7s;
}
header nav ul .btnLogin-popup:hover {
  background-color: #675cff;
  color: white;
  border: 2px solid #675cff;
  transition: all ease 0.7s;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li:hover .mega_menu {
  display: block;
  transition: 1s;
}
header nav ul li .mega_menu {
  position: absolute;
  left: 57%;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
}
header nav ul li .mega_menu ul {
  display: flex;
  flex-direction: column;
}
header nav ul li .mega_menu ul li {
  margin-bottom: 10px;
}
header nav ul li .active {
  background: #675cff;
  color: #fff;
}
header nav ul li a {
  color: black;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.5s;
  border-radius: 30px;
}
header nav ul li a:hover {
  background-color: #655cff;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
header .hamburger {
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 3s;
  display: none;
}
header .hamburger:hover {
  background: #f6f4ff;
}
header .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #212526;
}

@media (max-width: 1100px) {
  header {
    width: 100%;
    padding: 0 10px;
  }
  header nav {
    position: absolute;
    animation: menuanime 1s forwards;
    left: 0;
    top: 0;
    z-index: 1;
    width: 230px;
    height: 90vh;
    border-radius: 5px;
    background-color: #fefefe;
    transition: 0.4s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  header nav .logo {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  header nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 20px;
  }
  header #nav_check:checked ~ nav {
    left: 0;
    display: none;
  }
  header .hamburger {
    display: block;
  }
}
@keyframes menuanime {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#backImage {
  background-image: url(../../../assets/images/mezun_img.jpg);
  width: 100%;
  min-height: 730px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#backImage .black {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#backImage .black .container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backImage .black .container .loginAndRegister {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  box-shadow: 0 5px 10px 5px white;
  width: 80%;
  display: flex;
  overflow: hidden;
  transform: scale(0);
}
#backImage .black .container .loginAndRegister .main_box.login {
  width: 100%;
  height: 450px;
  padding: 25px;
  transition: transform 0.2s ease;
  transform: translateX(0);
}
#backImage .black .container .loginAndRegister .main_box.login .input_box {
  position: relative;
  height: 52px;
  width: 100%;
  border-bottom: 2px solid black;
  margin: 32px 0;
}
#backImage .black .container .loginAndRegister .main_box.login .input_box label {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-size: 17px;
  font-weight: 600;
  transition: all ease 0.5s;
  color: white;
}
#backImage .black .container .loginAndRegister .main_box.login .input_box input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  padding: 0 30px 0 6px;
}
#backImage .black .container .loginAndRegister .main_box.login .input_box .icon {
  position: absolute;
  right: 9px;
  font-size: 19px;
  color: white;
  cursor: pointer;
}
#backImage .black .container .loginAndRegister .main_box.login .input_box input:focus ~ label,
#backImage .black .container .loginAndRegister .main_box.login .input_box input:valid ~ label {
  top: -3px;
}
#backImage .black .container .loginAndRegister .main_box.login .check {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin: -14px 0 15px;
  display: flex;
  justify-content: space-between;
}
#backImage .black .container .loginAndRegister .main_box.login .check label {
  display: flex;
  align-items: center;
}
#backImage .black .container .loginAndRegister .main_box.login .check label input {
  cursor: pointer;
  margin-right: 5px;
  accent-color: black;
}
#backImage .black .container .loginAndRegister .main_box.login .check a {
  color: white;
}
#backImage .black .container .loginAndRegister .main_box.login .main_btn {
  background-color: black;
  width: 100%;
  height: 43px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  border: none;
  border: 2px solid #212526;
  transition: 0.7s;
  cursor: pointer;
  margin-bottom: 25px;
}
#backImage .black .container .loginAndRegister .main_box.login .main_btn:hover {
  background-color: white;
  color: #212526;
  border: 2px solid #212526;
  transition: 0.7s;
}
#backImage .black .container .loginAndRegister .main_box.login .register {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 30px;
}
#backImage .black .container .loginAndRegister .main_box.login .register p a {
  color: black;
  font-weight: 600;
}
#backImage .black .container .loginAndRegister .main_box.login h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
#backImage .black .container .loginAndRegister #false {
  color: red;
  text-align: center;
}
#backImage .black .container .loginAndRegister #false p {
  font-size: 20px;
  font-weight: 650;
}
#backImage .black .container .loginAndRegister .main_box.register {
  position: absolute;
  transform: translateX(500px);
  width: 80%;
  left: 30px;
  min-height: 30vh;
  transition: none;
  margin-bottom: 20px;
}
#backImage .black .container .loginAndRegister .main_box.register h1 {
  margin-top: 25px;
}
#backImage .black .container .loginAndRegister .main_box.register .input_box {
  position: relative;
  height: 52px;
  width: 100%;
  border-bottom: 2px solid black;
  margin: 32px 0;
}
#backImage .black .container .loginAndRegister .main_box.register .input_box label {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-size: 17px;
  font-weight: 600;
  transition: all ease 0.5s;
  color: white;
}
#backImage .black .container .loginAndRegister .main_box.register .input_box input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  padding: 0 30px 0 6px;
}
#backImage .black .container .loginAndRegister .main_box.register .input_box .icon {
  position: absolute;
  right: 9px;
  font-size: 19px;
  color: white;
  cursor: pointer;
}
#backImage .black .container .loginAndRegister .main_box.register .input_box input:focus ~ label,
#backImage .black .container .loginAndRegister .main_box.register .input_box input:valid ~ label {
  top: -3px;
}
#backImage .black .container .loginAndRegister .main_box.register .check {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin: -14px 0 15px;
  display: flex;
  justify-content: space-between;
}
#backImage .black .container .loginAndRegister .main_box.register .check label input {
  cursor: pointer;
  margin-right: 5px;
  accent-color: black;
}
#backImage .black .container .loginAndRegister .main_box.register .check a {
  color: white;
}
#backImage .black .container .loginAndRegister .main_box.register .main_btn {
  background-color: black;
  width: 100%;
  height: 43px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  border: none;
  border: 2px solid #212526;
  transition: 0.7s;
  cursor: pointer;
  margin-bottom: 25px;
}
#backImage .black .container .loginAndRegister .main_box.register .main_btn:hover {
  background-color: white;
  color: #212526;
  border: 2px solid #212526;
  transition: 0.7s;
}
#backImage .black .container .loginAndRegister .main_box.register .login {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 30px;
}
#backImage .black .container .loginAndRegister .main_box.register .login p a {
  color: black;
  font-weight: 600;
}
#backImage .black .container .loginAndRegister .main_box.register .login {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 30px;
}
#backImage .black .container .loginAndRegister .main_box.register .login p a {
  color: black;
  font-weight: 600;
}
#backImage .black .container .loginAndRegister .main_box.register h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
#backImage .black .container .loginAndRegister #succes {
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#backImage .black .container .loginAndRegister #succes p {
  color: #fff;
  background-color: green;
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid green;
  transition: 0.5s;
}
#backImage .black .container .loginAndRegister #succes p i {
  color: #fff;
  font-weight: 900;
}
#backImage .black .container .loginAndRegister .close_icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 44px;
  background-color: #212526;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  z-index: 1;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}
#backImage .black .container .loginAndRegister.active {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backImage .black .container .loginAndRegister.active .main_box.login {
  transition: none;
  transform: translateX(-500px);
}
#backImage .black .container .loginAndRegister.active .main_box.register {
  transition: transform 0.2s ease;
  transform: translateX(0);
}
#backImage .black .container .loginAndRegister.active-popup {
  transform: scale(1);
}
#backImage .black .container .systemText {
  width: 100%;
}
#backImage .black .container .systemText h1 {
  font-size: 70px;
  font-weight: 600;
  width: 60%;
  text-align: center;
}

@media (max-width: 600px) {
  #backImage {
    min-height: 800px;
  }
  #backImage .black {
    min-height: 800px;
  }
  #backImage .black .container .systemText {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #backImage .black .container .systemText h1 {
    font-size: 35px;
  }
  #backImage .black .container .loginAndRegister {
    width: 100%;
    min-height: 80vh;
  }
  #backImage .black .container .loginAndRegister .main_box.login {
    height: 500px;
  }
  #backImage .black .container .loginAndRegister .main_box.login .check a {
    font-size: 13px;
  }
  #backImage .black .container .loginAndRegister .main_box.login .check label {
    font-size: 13px;
  }
  #backImage .black .container .loginAndRegister #false p {
    font-size: 15px;
  }
}
#mezunSection .mezunText {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  margin-top: 25px;
}
#mezunSection .mezunText h1 {
  font-weight: 650;
}
#mezunSection .mezunText #lorem {
  font-size: 21px;
  font-weight: 600;
}
#mezunSection .mezunText p {
  width: 80%;
}
#mezunSection .mezunText button {
  width: 100px;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline red;
}
#mezunSection .mezunImage img {
  width: 100%;
  height: auto;
}
#mezunSection .mezunImage .mezunNumber {
  padding: 25px;
  color: white;
  background: linear-gradient(to right, rgb(246, 22, 22), purple);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  text-align: center;
}
#mezunSection .mezunImage .mezunNumber p {
  font-weight: 650;
}

#newsSection {
  margin-top: 30px;
  background-color: #fff;
  width: 100%;
  min-height: 850px;
  background-size: cover;
  background-position: center;
}
#newsSection .newsThreeDiv {
  background-color: white;
  border-radius: 15px;
  transition: 1s;
  border: 1px solid gray;
}
#newsSection .newsThreeDiv:hover {
  box-shadow: 0 0 5px 3px gray;
  scale: 1.1;
  transition: 1s;
  cursor: pointer;
}
#newsSection .newsThreeDiv .newsDivImage img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
#newsSection .newsThreeDiv .newsText {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#newsSection .newsThreeDiv .newsText a:hover i {
  transform: translateX(5px);
}
#newsSection .moreBtn a button {
  border: none;
  background-color: #6391fd;
  padding: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease;
  border-radius: 30px;
  border: 2px solid #6391fd;
}
#newsSection .moreBtn a button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid #6391fd;
  transition: all 0.7s ease;
}

@media (max-width: 600px) {
  #newsSection .newsDiv h1 {
    font-size: 32px;
  }
}
.projectsDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.projectsDiv h1 {
  width: 50%;
  font-size: 50px;
  font-weight: 640;
}

#backPhoto {
  background-image: url(../../../assets/images/info_block_bg.jpg);
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}
#backPhoto .institutionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#backPhoto .institutionDiv h1 {
  font-size: 60px;
  font-weight: 600;
}
#backPhoto .institutionİmgs img {
  width: 100%;
  height: auto;
}
#backPhoto .institutionİmgs #unicef {
  margin-top: 25px;
}

@media (max-width: 600px) {
  #backPhoto .institutionDiv {
    text-align: center;
  }
  #backPhoto .institutionDiv h1 {
    font-size: 40px;
  }
}
footer {
  background-color: #212526;
  color: white;
  width: 100%;
  min-height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
footer .container .map_uni h4 {
  text-decoration: underline red;
}
footer .container .map_uni iframe {
  margin-top: 20px;
}
footer .container .end_text {
  width: 100%;
}
footer .container .end_text h4 {
  text-decoration: underline red;
}
footer .container .end_text h6 {
  margin: 28px 0;
}
footer .container .end_text span {
  display: flex;
}
footer .container .end_text p {
  width: 60%;
}
footer .container .end_news h4 {
  text-decoration: underline red;
}
footer .container .end_news ul {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}
footer .container .end_news ul li a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: static;
}
.header nav ul li .mega_menu {
  left: 68%;
}

#backColorOne {
  background-color: #e3e9f7;
  padding: 35px;
  margin-top: 25px;
}
#backColorOne .news_image img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  transition: 0.5s;
}
#backColorOne .news_image img:hover {
  scale: 1.03;
  transition: 0.5s;
}
#backColorOne .news_text p {
  font-size: 18px;
  color: rgb(65, 65, 65);
  font-weight: 600;
}

@media (max-width: 600px) {
  #backColorOne .news_text p {
    font-size: 16px;
  }
  #backColorOne .news_head h3 {
    font-size: 20px;
  }
}
#backColor {
  background-color: #fff;
  padding: 25px;
  margin-top: 25px;
}
#backColor .news_image img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  transition: 0.5s;
}
#backColor .news_image img:hover {
  scale: 1.03;
  transition: 0.5s;
}
#backColor .news_text p {
  font-size: 18px;
  color: rgb(65, 65, 65);
  font-weight: 600;
}

@media (max-width: 600px) {
  #backColor .news_text p {
    font-size: 16px;
  }
  #backColor .news_head h3 {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyK {
  background-color: #e3e7f9;
}

.korpus_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.korpusOne_text p span {
  font-weight: 650;
}

.korpusThree_text p span {
  font-weight: 650;
}

.footerEnd {
  margin-top: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyK {
  background-color: #e3e7f9;
}

#studentSection .korpus_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#studentSection .korpusOne_text p {
  font-size: 17px;
  font-weight: 505;
  color: rgb(74, 69, 69);
}
#studentSection .korpusOne_text p span {
  font-weight: 650;
}
#studentSection .studentHome_image img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  transition: 1s;
}
#studentSection .studentHome_image img:hover {
  transition: 1s;
  scale: 1.03;
}
#studentSection .korpusThree_text p {
  font-size: 17px;
  font-weight: 505;
  color: rgb(74, 69, 69);
}
#studentSection .korpusThree_text p span {
  font-weight: 650;
}

@media (max-width: 700px) {
  .video_home iframe {
    width: 100%;
    height: 220px;
  }
}
.footerEnd {
  margin-top: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leader_img img {
  width: 100%;
  height: auto;
}

.header {
  position: static;
}
.header nav ul li .mega_menu {
  left: 68%;
}

.leaderText a {
  color: blue;
}
.leaderText a button {
  padding: 5px 10px;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  color: rgb(69, 69, 243);
}
.leaderText a button i {
  display: none;
}
.leaderText a button:hover i {
  display: block;
  transform: translateX(5px);
  margin-top: 5px;
}

@media (max-width: 600px) {
  .uni_video iframe {
    width: 100%;
    height: 200px;
  }
  .leaderText h1 {
    font-size: 30px;
  }
  .video_text h1 {
    font-size: 35px;
  }
  .facultyText h1 {
    font-size: 33px;
  }
  .facultyText ul li {
    margin-left: 12px;
  }
  .organizationText h1 {
    font-size: 33px;
  }
  .organizationText ul li {
    margin-left: 12px;
  }
  .universitetName h1 {
    font-size: 37px;
  }
  .history h1 {
    font-size: 33px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text_img img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faculty_textTwo {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.faculty_textTwo .image_person img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.faculty_textTwo .faculty_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faculty_textTwo .faculty_info p {
  font-weight: 600;
}
.faculty_textTwo .faculty_info span {
  display: flex;
  flex-direction: column;
}
.faculty_textTwo .wide_btn {
  padding: 15px;
  display: flex;
  align-items: flex-end;
}
.faculty_textTwo .wide_btn button {
  padding: 3px 15px;
  background-color: #272727;
  color: #fff;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.7s;
  font-weight: 550;
}
.faculty_textTwo .wide_btn button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 550;
  transition: 0.7s;
}

@media (max-width: 850px) {
  .faculty_textTwo {
    flex-wrap: wrap;
  }
  .faculty_textTwo .image_person img {
    width: 100%;
    height: auto;
  }
  .faculty_textTwo .faculty_info h2 {
    font-size: 25px;
  }
  .faculty_textTwo .wide_btn button {
    text-align: center;
  }
}
.modalDiv {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
}
.modalDiv .close_modal {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
.modalDiv .modal_umumi {
  width: 100%;
}
.modalDiv .modal_umumi h2 {
  text-align: center;
}
.modalDiv .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
.modalDiv .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
.modalDiv .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
.modalDiv .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
.modalDiv .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  .modalDiv {
    flex-wrap: wrap;
  }
  .modalDiv .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  .modalDiv .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  .modalDiv .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  .modalDiv .modal_umumi .modal_textTwo {
    text-align: center;
  }
  .modalDiv .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
#modalDivOne {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
}
#modalDivOne #close_modalOne {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#modalDivOne .modal_umumi {
  width: 100%;
}
#modalDivOne .modal_umumi h2 {
  text-align: center;
}
#modalDivOne .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
#modalDivOne .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
#modalDivOne .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
#modalDivOne .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
#modalDivOne .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  #modalDivOne {
    flex-wrap: wrap;
  }
  #modalDivOne .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  #modalDivOne .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  #modalDivOne .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  #modalDivOne .modal_umumi .modal_textTwo {
    text-align: center;
  }
  #modalDivOne .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
#modalDivThree {
  display: none;
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
}
#modalDivThree #close_modalTwo {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#modalDivThree .modal_umumi {
  width: 100%;
}
#modalDivThree .modal_umumi h2 {
  text-align: center;
}
#modalDivThree .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
#modalDivThree .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
#modalDivThree .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
#modalDivThree .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
#modalDivThree .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  #modalDivThree {
    flex-wrap: wrap;
  }
  #modalDivThree .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  #modalDivThree .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  #modalDivThree .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  #modalDivThree .modal_umumi .modal_textTwo {
    text-align: center;
  }
  #modalDivThree .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
#modalDivFour {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
}
#modalDivFour #close_modalFour {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#modalDivFour .modal_umumi {
  width: 100%;
}
#modalDivFour .modal_umumi h2 {
  text-align: center;
}
#modalDivFour .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
#modalDivFour .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
#modalDivFour .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
#modalDivFour .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
#modalDivFour .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  #modalDivFour {
    flex-wrap: wrap;
  }
  #modalDivFour .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  #modalDivFour .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  #modalDivFour .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  #modalDivFour .modal_umumi .modal_textTwo {
    text-align: center;
  }
  #modalDivFour .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
#modalDivFive {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
}
#modalDivFive #close_modalFive {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#modalDivFive .modal_umumi {
  width: 100%;
}
#modalDivFive .modal_umumi h2 {
  text-align: center;
}
#modalDivFive .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
#modalDivFive .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
#modalDivFive .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
#modalDivFive .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
#modalDivFive .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  #modalDivFive {
    flex-wrap: wrap;
  }
  #modalDivFive .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  #modalDivFive .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  #modalDivFive .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  #modalDivFive .modal_umumi .modal_textTwo {
    text-align: center;
  }
  #modalDivFive .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
#modalDivHistory {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
}
#modalDivHistory #close_modalH {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#modalDivHistory .modal_umumi {
  width: 100%;
}
#modalDivHistory .modal_umumi h2 {
  text-align: center;
}
#modalDivHistory .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
#modalDivHistory .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
#modalDivHistory .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
#modalDivHistory .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
#modalDivHistory .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  #modalDivHistory {
    flex-wrap: wrap;
  }
  #modalDivHistory .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  #modalDivHistory .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  #modalDivHistory .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  #modalDivHistory .modal_umumi .modal_textTwo {
    text-align: center;
  }
  #modalDivHistory .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
#modalDivEnd {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
}
#modalDivEnd #close_modalEnd {
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 3px 8px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
}
#modalDivEnd .modal_umumi {
  width: 100%;
}
#modalDivEnd .modal_umumi h2 {
  text-align: center;
}
#modalDivEnd .modal_umumi .modal_text {
  display: flex;
  width: 100%;
}
#modalDivEnd .modal_umumi .modal_text img {
  width: 320px;
  height: auto;
  margin-right: 15px;
  object-fit: cover;
}
#modalDivEnd .modal_umumi .modal_text p {
  font-weight: 600;
  font-size: 18px;
}
#modalDivEnd .modal_umumi .modal_textTwo {
  margin-top: 10px;
}
#modalDivEnd .modal_umumi .modal_textTwo p {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 991px) {
  #modalDivEnd {
    flex-wrap: wrap;
  }
  #modalDivEnd .modal_umumi .modal_text {
    flex-wrap: wrap;
    text-align: center;
  }
  #modalDivEnd .modal_umumi .modal_text img {
    width: 100%;
    height: auto;
  }
  #modalDivEnd .modal_umumi .modal_text p {
    font-weight: 500;
    font-size: 16px;
  }
  #modalDivEnd .modal_umumi .modal_textTwo {
    text-align: center;
  }
  #modalDivEnd .modal_umumi .modal_textTwo p {
    font-weight: 500;
    font-size: 16px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: static;
}
.header nav ul li .mega_menu {
  left: 68%;
}

.teskilat_text {
  margin-top: 20px;
}
.teskilat_text ol {
  margin-left: 20px;
  margin-top: 20px;
}
.teskilat_text ol li a {
  color: black;
}

.projects_text {
  width: 80%;
}
.projects_text ol {
  margin-left: 15px;
}
.projects_text ol li {
  font-weight: 500;
}
.projects_text span {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .erasmus_div h1 {
    font-size: 27px;
  }
  .projects_text {
    width: 95%;
  }
  .projects_text h4 {
    font-size: 20px;
  }
  .projects_div h1 {
    font-size: 30px;
  }
}
.code_div {
  border: 2px solid gray;
  box-shadow: 0 0 15px gray;
  border-radius: 5px;
}
.code_div #head_image {
  width: 100%;
  height: auto;
}
.code_div .code_text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.code_div .code_text #logo_sdu {
  width: 120px;
  height: auto;
}
.code_div .code_text ul {
  margin-left: 20px;
}
.code_div .code_text img {
  margin-top: 15px;
  margin-bottom: 25px;
}
.code_div .code_text a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: 600;
}
.code_div .code_text a:hover {
  font-weight: 600;
  color: rgb(10, 10, 226);
  transition: 1s;
}

@media (max-width: 600px) {
  .code h1 {
    font-size: 30px;
  }
  .code_div .code_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .code_div .code_text h3 {
    font-size: 25px;
    text-align: center;
  }
  .code_div .code_text p {
    font-size: 17px;
  }
  .code_div .code_text #logo_sdu {
    text-align: center;
  }
  .code_div .code_text img {
    width: 100%;
    height: auto;
  }
}
.footerB {
  margin-top: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#adminSec {
  width: 100%;
  margin-top: 20px;
}
#adminSec .main_content {
  width: 100%;
}
#adminSec .main_content .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
#adminSec .main_content .header_wrapper img {
  height: 50px;
  width: 50px;
}
#adminSec .main_content .header_wrapper .header_title {
  color: rgb(113, 99, 118);
}
#adminSec .main_content .header_wrapper .user_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#adminSec .main_content .header_wrapper .user_info #form {
  display: flex;
  gap: 5px;
}
#adminSec .main_content .header_wrapper .user_info #form .sort_box {
  margin-top: 8px;
}
#adminSec .main_content .header_wrapper .user_info #form .sort_box #selectValue {
  padding: 5px;
}
#adminSec .main_content .header_wrapper .user_info #form .searchAndImage {
  display: flex;
  gap: 5px;
}
#adminSec .main_content .header_wrapper .user_info #form .searchAndImage .search_box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgb(113, 99, 118);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
}
#adminSec .main_content .header_wrapper .user_info #form .searchAndImage .search_box input {
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
}
#adminSec .main_content .header_wrapper .user_info #form .searchAndImage .search_box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
#adminSec .main_content .header_wrapper .user_info #form .searchAndImage .search_box i:hover {
  transform: scale(1.2);
}

.tabular_wrapper {
  background: #fff;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
}
.tabular_wrapper .table_container {
  width: 100%;
  margin-top: 2rem;
}
.tabular_wrapper .table_container table {
  width: 100%;
  border-collapse: collapse;
}
.tabular_wrapper .table_container table thead {
  background: rgb(113, 99, 118);
  color: #fff;
}
.tabular_wrapper .table_container table thead tr th {
  padding: 15px;
}
.tabular_wrapper .table_container table #tbody td {
  padding: 15px;
  overflow: hidden;
}
.tabular_wrapper .table_container table #tbody td img {
  width: 80px;
  height: 80px;
}
.tabular_wrapper .table_container table #tbody td #deleteBtn {
  padding: 3px 12px;
  border: none;
  background-color: red;
  color: white;
  border: 2px solid red;
  transition: 0.6s;
  border-radius: 5px;
  outline: none;
}
.tabular_wrapper .table_container table #tbody td #deleteBtn:hover {
  background-color: #fff;
  color: red;
  border: 2px solid red;
}

@media (max-width: 991px) {
  #adminSec .main_content .header_wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #adminSec .main_content .header_wrapper .user_info #form {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #adminSec .main_content .header_wrapper .user_info #form .search_box input {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .tabular_wrapper .table_container {
    overflow-x: scroll;
  }
}
#addFormSec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebe9e9;
}
#addFormSec .addNewInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#addFormSec .addNewInfo #formAdmin {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#addFormSec .addNewInfo #formAdmin .inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  min-height: 50vh;
  border-radius: 10px;
  gap: 15px;
}
#addFormSec .addNewInfo #formAdmin .inputs .inpText {
  display: flex;
  flex-direction: column;
}
#addFormSec .addNewInfo #formAdmin .inputs .inpText input {
  padding: 8px;
  border-radius: 50px;
  width: 450px;
  border: none;
  outline: none;
}
#addFormSec .addNewInfo #formAdmin .inputs .inpButton button {
  padding: 3px 20px;
  border: none;
  outline: none;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: green;
  color: white;
  border: 2px solid green;
  cursor: pointer;
  transition: 0.7s;
}
#addFormSec .addNewInfo #formAdmin .inputs .inpButton button:hover {
  background-color: transparent;
  color: black;
}

@media (max-width: 600px) {
  #addFormSec .addNewInfo #formAdmin .inputs {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  #addFormSec .addNewInfo #formAdmin .inputs input {
    width: 250px !important;
    height: auto;
  }
}
.end_btn {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 30px 0;
}
.end_btn button {
  padding: 5px 17px;
  border: none;
  background-color: rgb(113, 99, 118);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid rgb(113, 99, 118);
  transition: all 0.6s ease;
}
.end_btn button:hover {
  background-color: #fff;
  color: black;
  border: 2px solid rgb(113, 99, 118);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info_div .user a button {
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  transition: 0.6s;
}
.info_div .user a button:hover {
  color: blue;
}

@media (max-width: 600px) {
  .info_div {
    display: flex;
    align-items: center;
  }
  .info_div h1 {
    font-size: 30px;
  }
}
#newDiv {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 25px;
}
#newDiv .boxChoose .teachDiv {
  border: 2px solid;
  margin-bottom: 20px;
  padding: 25px;
  box-shadow: 0 7px 15px gray;
  border-radius: 10px;
}
#newDiv .boxChoose .teachDiv img {
  width: 220px;
  height: 200px;
}
#newDiv .boxChoose .teachDiv .teachText {
  margin-top: 10px;
}
#newDiv .boxChoose .teachDiv .teachText span {
  display: flex;
  flex-direction: column;
}
#newDiv .boxChoose .teachDiv .teachText button {
  padding: 3px 25px;
  margin-top: 8px;
  border: none;
  background-color: #675cff;
  border: 2px solid #675cff;
  color: #fff;
  transition: all 0.6s ease;
  border-radius: 5px;
  cursor: pointer;
}
#newDiv .boxChoose .teachDiv .teachText button:hover {
  border: 2px solid #675cff;
  background-color: #fff;
  color: #272727;
  transition: all 0.6s ease;
}

@media (max-width: 600px) {
  #newDiv .boxChoose .teachDiv img {
    width: 100%;
    height: auto;
  }
}
.backBtn {
  margin: 20px;
}
.backBtn button {
  padding: 5px 15px;
  margin-top: 8px;
  border: none;
  background-color: #675cff;
  border: 2px solid #675cff;
  color: #fff;
  transition: all 0.6s ease;
  border-radius: 5px;
  cursor: pointer;
}
.backBtn button:hover {
  border: 2px solid #675cff;
  background-color: #fff;
  color: #272727;
  transition: all 0.6s ease;
}

#mainSec .enterCalc {
  background-color: #6D7A82;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 30px;
  border-radius: 10px;
}
#mainSec .enterCalc .enterDivs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#mainSec .enterCalc .enterDivs .enterInp {
  display: flex;
  flex-direction: column;
}
#mainSec .enterCalc .enterDivs .enterInp label {
  font-weight: 600;
  font-size: 20px;
}
#mainSec .enterCalc .enterDivs .enterInp input {
  padding: 8px;
  width: 380px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#mainSec .enterCalc .enterDivs .enterButton {
  text-align: center;
  margin-top: 18px;
}
#mainSec .enterCalc .enterDivs .enterButton button {
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
#mainSec .enterCalc .enterDivs .enterButton button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
#mainSec .enterCalc .enterDivs .resultEnter #resultİd {
  padding: 5px;
  text-align: center;
  margin-top: 12px;
  border-radius: 10px;
}
#mainSec .exam_result {
  background-color: #6D7A82;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 30px;
  border-radius: 10px;
  margin-top: 30px;
}
#mainSec .exam_result .exam_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#mainSec .exam_result .exam_div .examinp {
  display: flex;
  flex-direction: column;
}
#mainSec .exam_result .exam_div .examinp label {
  font-weight: 600;
  font-size: 20px;
}
#mainSec .exam_result .exam_div .examinp input {
  padding: 8px;
  width: 380px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#mainSec .exam_result .exam_div .exam_button {
  text-align: center;
  margin-top: 18px;
}
#mainSec .exam_result .exam_div .exam_button button {
  padding: 5px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
#mainSec .exam_result .exam_div .exam_button button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
#mainSec .exam_result .exam_div #numberResult {
  text-align: center;
  margin-top: 5px;
  font-weight: 600;
  font-size: 19px;
}
#mainSec .exam_result .exam_div #stringResult {
  text-align: center;
  padding: 5px;
  font-weight: 650;
  border-radius: 8px;
}
#mainSec .main {
  background-color: #6D7A82;
  color: #fff;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  gap: 30px;
  border-radius: 10px;
  margin-top: 30px;
}
#mainSec .main .note {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#mainSec .main .note .calc {
  display: flex;
  flex-direction: column;
}
#mainSec .main .note .calc label {
  font-weight: 550;
  font-size: 20px;
}
#mainSec .main .note .calc input {
  padding: 8px;
  width: 380px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#mainSec .main .note .butonsCalc {
  text-align: center;
  margin-top: 18px;
}
#mainSec .main .note .butonsCalc button {
  padding: 5px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
#mainSec .main .note .butonsCalc button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
#mainSec .main .note .result {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#mainSec .main .note .result #ortalama {
  width: 40%;
  border-radius: 5px;
  background-color: rgb(5, 215, 145);
}

@media (max-width: 500px) {
  #mainSec .main h2 {
    font-size: 26px;
    text-align: center;
  }
  #mainSec .main .note .calc input {
    width: 240px;
  }
  #mainSec .main .note .calc label {
    font-weight: 500;
    font-size: 17px;
  }
  #mainSec .exam_result h2 {
    font-size: 26px;
    text-align: center;
  }
  #mainSec .exam_result .exam_div .examinp input {
    width: 240px;
  }
  #mainSec .exam_result .exam_div .examinp label {
    font-weight: 500;
    font-size: 18;
  }
  #mainSec .enterCalc h2 {
    font-size: 26px;
    text-align: center;
  }
  #mainSec .enterCalc .enterDivs .enterInp input {
    width: 240px;
  }
  #mainSec .enterCalc .enterDivs .enterInp label {
    font-weight: 500;
    font-size: 18;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day_text {
  font-weight: 600;
  font-size: 18px;
}
.day_text span {
  margin-left: 20px;
}

.container {
  max-width: 1200px;
  width: 95%;
}
.container .slide-button#prev-slide {
  left: -20px;
  display: none;
}
.container .slide-button#next-slide {
  right: -20px;
}
.container .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.container .slider-wrapper {
  position: relative;
}
.container .slider-wrapper .slide-button {
  height: 50px;
  width: 50px;
  color: #fff;
  background: #000;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container .slider-wrapper .image-list {
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  display: grid;
  gap: 18px;
  margin-bottom: 30px;
  grid-template-columns: repeat(10, 1fr);
}
.container .slider-wrapper .image-list .image-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.container .slider-scrollbarr {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.container .slider-scrollbarr .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border: 4px;
}
.container .slider-scrollbarr .scrollbar-track .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 95%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.container .slider-scrollbarr .scrollbar-track .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.container .slider-scrollbarr .scrollbar-track .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
}
.container .slider-scrollbarr:hover .scrollbar-track {
  height: 5px;
}

@media (max-width: 580px) {
  .day_text p {
    font-size: 16px;
  }
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
  }
  .slider-wrapper .image-list .image-item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .slider-scrollbarr .scrollbar-thumb {
    width: 20%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head h2 {
  font-weight: 600;
  font-size: 55px;
}

#getSec {
  background-color: gray;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#getSec #settings .changeAccount #changeDivForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#getSec #settings .changeAccount #changeDivForm .change_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#getSec #settings .changeAccount #changeDivForm .change_image img {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}
#getSec #settings .changeAccount #changeDivForm .change_image input {
  padding: 3px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 250px;
}
#getSec #settings .changeAccount #changeDivForm #change_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#getSec #settings .changeAccount #changeDivForm #change_box h1 {
  display: flex;
  justify-content: center;
}
#getSec #settings .changeAccount #changeDivForm #change_box .input_box {
  display: flex;
  flex-direction: column;
}
#getSec #settings .changeAccount #changeDivForm #change_box .input_box input {
  padding: 5px;
  width: 350px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#getSec #settings .changeAccount #changeDivForm #change_box .input_box label {
  font-weight: 600;
}
#getSec #settings .changeAccount #changeDivForm #change_box .change_btn {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
}
#getSec #settings .changeAccount #changeDivForm #change_box .change_btn .main_btn {
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 580;
  border: 2px solid black;
  transition: all 0.7s ease;
}
#getSec #settings .changeAccount #changeDivForm #change_box .change_btn .main_btn:hover {
  background-color: transparent;
  color: white;
}

@media (max-width: 991px) {
  .head h2 {
    font-size: 32px;
  }
  #getSec #settings .changeAccount #changeDivForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #getSec #settings .changeAccount #changeDivForm .change_image {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: auto;
  }
  #getSec #settings .changeAccount #changeDivForm .change_image input {
    width: 250px;
  }
  #getSec #settings .changeAccount #changeDivForm #change_box .input_box input {
    width: 270px;
  }
  #list .boxChoose .teachDiv img {
    width: 200px;
    height: auto;
  }
}
#list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 25px;
}
#list .boxChoose .teachDiv {
  border: 2px solid;
  margin-bottom: 20px;
  padding: 25px;
  box-shadow: 0 7px 15px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#list .boxChoose .teachDiv img {
  width: 220px;
  height: 200px;
}
#list .boxChoose .teachDiv .teachText {
  margin-top: 10px;
}
#list .boxChoose .teachDiv .teachText span {
  display: flex;
  flex-direction: column;
}
#list .boxChoose .teachDiv .teachText button {
  padding: 3px 25px;
  margin-top: 8px;
  border: none;
  background-color: red;
  border: 2px solid red;
  color: #fff;
  transition: all 0.6s ease;
  border-radius: 5px;
  cursor: pointer;
}
#list .boxChoose .teachDiv .teachText button:hover {
  border: 2px solid red;
  background-color: #fff;
  color: #272727;
  transition: all 0.6s ease;
}

#backBtn_user {
  padding: 3px 25px;
  margin-top: 8px;
  border: none;
  background-color: #675cff;
  border: 2px solid #675cff;
  color: #fff;
  transition: all 0.6s ease;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
#backBtn_user:hover {
  border: 2px solid #675cff;
  background-color: #fff;
  color: #272727;
  transition: all 0.6s ease;
}

@media (max-width: 767px) {
  #getSec #settings .changeAccount #changeDivForm .change_image img {
    width: 100% !important;
    height: auto;
  }
}