* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#adminSec {
  width: 100%;
  margin-top: 20px;
  .main_content {
    // position: relative;
    width: 100%;

    .header_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background: #fff;
      border-radius: 10px;
      padding: 10px 2rem;
      margin-bottom: 1rem;
      img {
        height: 50px;
        width: 50px;
      }
      .header_title {
        color: rgba(113, 99, 118, 255);
      }
      .user_info {
        display: flex;
        align-items: center;
        gap: 1rem;
        #form {
          display: flex;
          gap: 5px;
          .sort_box {
            margin-top: 8px;
            #selectValue {
              padding: 5px;
            }
          }
          .searchAndImage {
            display: flex;
            gap: 5px;
            .search_box {
              background: rgb(237, 237, 237);
              border-radius: 15px;
              color: rgba(113, 99, 118, 255);
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 4px 12px;
              input {
                background-color: transparent;
                padding: 10px;
                border: none;
                outline: none;
              }
              i {
                font-size: 1.2rem;
                cursor: pointer;
                transition: all 0.5s ease-out;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }
}
.tabular_wrapper {
  background: #fff;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
  .table_container {
    width: 100%;
    margin-top: 2rem;
    table {
      width: 100%;
      border-collapse: collapse;
      thead {
        background: rgba(113, 99, 118, 255);
        color: #fff;
        tr {
          th {
            padding: 15px;
          }
        }
      }
      #tbody {
        td {
          padding: 15px;
          overflow: hidden;
          img {
            width: 80px;
            height: 80px;
          }
          #deleteBtn {
            padding: 3px 12px;
            border: none;
            background-color: red;
            color: white;
            border: 2px solid red;
            transition: 0.6s;
            border-radius: 5px;
            outline: none;
            &:hover {
              background-color: #fff;
              color: red;
              border: 2px solid red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #adminSec {
    .main_content {
      .header_wrapper {
        text-align: center;
        display: flex;
        justify-content: center;
        .user_info {
          #form {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            .search_box {
              input {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .tabular_wrapper {
    .table_container {
      overflow-x: scroll;
    }
  }
}

#addFormSec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebe9e9;
  .addNewInfo {
    display: flex;
    align-items: center;
    justify-content: center;

    #formAdmin {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        min-height: 50vh;
        border-radius: 10px;
        gap: 15px;
        .inpText {
          display: flex;
          flex-direction: column;
          input {
            padding: 8px;
            border-radius: 50px;
            width: 450px;
            border: none;
            outline: none;
          }
        }
        .inpButton {
          button {
            padding: 3px 20px;
            border: none;
            outline: none;
            margin-top: 15px;
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: green;
            color: white;
            border: 2px solid green;
            cursor: pointer;
            transition: 0.7s;
            &:hover {
              background-color: transparent;
              color: black;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #addFormSec {
    .addNewInfo {
      #formAdmin {
        .inputs {
          margin-top: 35px;
          margin-bottom: 30px;
          input {
            width: 250px !important;
            height: auto;
          }
        }
      }
    }
  }
}

.end_btn {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 30px 0;
  button {
    padding: 5px 17px;
    border: none;
    background-color: rgba(113, 99, 118, 255);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid rgba(113, 99, 118, 255);
    transition: all 0.6s ease;
    &:hover {
      background-color: #fff;
      color: black;
      border: 2px solid rgba(113, 99, 118, 255);
    }
  }
}
