* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faculty_textTwo {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  .image_person {
    img {
      width: 300px;
      height: 250px;
      object-fit: cover;
    }
  }
  .faculty_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 600;
    }
    span {
      display: flex;
      flex-direction: column;
    }
  }
  .wide_btn {
    padding: 15px;
    display: flex;
    align-items: flex-end;
    button {
      padding: 3px 15px;
      background-color: #272727;
      color: #fff;
      border-radius: 5px;
      border: 2px solid black;
      transition: 0.7s;
      font-weight: 550;
      &:hover {
        background-color: transparent;
        color: black;
        border: 2px solid black;
        font-weight: 550;
        transition: 0.7s;
      }
    }
  }
}

@media (max-width: 850px) {
  .faculty_textTwo {
    flex-wrap: wrap;
    .image_person {
      img {
        width: 100%;
        height: auto;
      }
    }
    .faculty_info {
      h2 {
        font-size: 25px;
      }
    }
    .wide_btn {
      button {
        text-align: center;
      }
    }
  }
}

.modalDiv {
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
  .close_modal {
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px){
  .modalDiv{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}

/// fizika modal

#modalDivOne{
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
  #close_modalOne{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px){
  #modalDivOne{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}


///riyazziyat modal

#modalDivThree{
  display: none;
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;

  #close_modalTwo{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{

        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}


@media (max-width:991px){
  #modalDivThree{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}

/// kimya modal

#modalDivFour{
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
  #close_modalFour{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px){
  #modalDivFour{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}


/// 
#modalDivFive{
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
  #close_modalFive{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px){
  #modalDivFive{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}

///

#modalDivHistory{
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
  #close_modalH{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px){
  #modalDivHistory{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}

///

#modalDivEnd{
  background: rgb(139, 136, 136);
  position: relative;
  padding: 25px;
  margin-top: 5px;
  display: none;
  #close_modalEnd{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 3px 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .modal_umumi {
    width: 100%;
    h2 {
      text-align: center;
    }
    .modal_text {
      display: flex;
      width: 100%;
      img {
        width: 320px;
        height: auto;
        margin-right: 15px;
        object-fit: cover;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .modal_textTwo {
      margin-top: 10px;
      p{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px){
  #modalDivEnd{
    flex-wrap: wrap;
    .modal_umumi{
      .modal_text{
        flex-wrap: wrap;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal_textTwo{
        text-align: center;
        p{
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}