* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0 auto;
  .logo {
    margin-top: 8px;
    img {
      width: 50%;
      height: auto;
    }
  }
  nav {
    .logo {
      display: none;
    }
    ul {
      display: flex;

      .btnLogin-popup {
        display: inline-block;
        padding: 3px 25px;
        background-color: transparent;
        color: black;
        border: 2px solid black;
        font-size: 17px;
        border-radius: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: all ease 0.7s;

        &:hover {
          background-color: #675cff;
          color: white;
          border: 2px solid #675cff;
          transition: all ease 0.7s;
        }
      }
      li {
        list-style-type: none;
        &:hover .mega_menu {
          display: block;
          transition: 1s;
        }
        .mega_menu {
          position: absolute;
          left: 57%;
          padding: 5px;
          background-color: #fff;
          border-radius: 5px;
          display: none;
          ul {
            display: flex;
            flex-direction: column;
            li {
              margin-bottom: 10px;
            }
          }
        }
        .active {
          background: #675cff;
          color: #fff;
        }
        a {
          color: black;
          display: block;
          margin: 0 2px;
          font-weight: 600;
          padding: 8px 18px;
          transition: 0.5s;
          border-radius: 30px;
          &:hover {
            background-color: #655cff;
            text-decoration: none;
            color: white;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .hamburger {
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 3s;
    display: none;

    &:hover {
      background: #f6f4ff;
    }
    div {
      width: 30px;
      height: 2px;
      margin: 6px 0;
      background: #212526;
    }
  }
}

@media (max-width: 1100px) {
  header {
    width: 100%;
    padding: 0 10px;
    nav {
      position: absolute;
      animation: menuanime 1s forwards;
      left: 0;
      top: 0;
      z-index: 1;
      width: 230px;
      height: 90vh;
      border-radius: 5px;
      background-color: #fefefe;
      transition: 0.4s;
      box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
      .logo {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
      }
      ul {
        display: block;
        padding: 0 20px;
        margin-top: 20px;
      }
    }
    #nav_check:checked ~ nav {
      left: 0;
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
}

@keyframes menuanime {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#backImage {
  background-image: url(../../../assets/images/mezun_img.jpg);
  width: 100%;
  min-height: 730px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .black {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .loginAndRegister {
        background-color: transparent;
        border: 3px solid rgba(257, 257, 257, 0.4);
        backdrop-filter: blur(25px);
        border-radius: 20px;
        box-shadow: 0 5px 10px 5px white;
        width: 80%;
        display: flex;
        overflow: hidden;
        transform: scale(0);

        .main_box.login {
          width: 100%;
          height: 450px;
          padding: 25px;
          transition: transform 0.2s ease;
          transform: translateX(0);

          .input_box {
            position: relative;
            height: 52px;
            width: 100%;
            border-bottom: 2px solid black;
            margin: 32px 0;
            label {
              position: absolute;
              left: 6px;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              color: black;
              font-size: 17px;
              font-weight: 600;
              transition: all ease 0.5s;
              color: white;
            }
            input {
              background: transparent;
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
              font-size: 17px;
              font-weight: 600;
              padding: 0 30px 0 6px;
            }
            .icon {
              position: absolute;
              right: 9px;
              font-size: 19px;
              color: white;
              cursor: pointer;
            }
            input:focus ~ label,
            input:valid ~ label {
              top: -3px;
            }
          }
          .check {
            font-size: 15px;
            font-weight: 500;
            color: white;
            margin: -14px 0 15px;
            display: flex;
            justify-content: space-between;
            label {
              display: flex;
              align-items: center;
              input {
                cursor: pointer;
                margin-right: 5px;
                accent-color: black;
              }
            }
            a {
              color: white;
            }
          }
          .main_btn {
            background-color: black;
            width: 100%;
            height: 43px;
            border-radius: 8px;
            font-size: 17px;
            font-weight: 600;
            color: white;
            border: none;
            border: 2px solid #212526;
            transition: 0.7s;
            cursor: pointer;
            margin-bottom: 25px;
            &:hover {
              background-color: white;
              color: #212526;
              border: 2px solid #212526;
              transition: 0.7s;
            }
          }
          .register {
            text-align: center;
            color: white;
            font-size: 15px;
            font-weight: 550;
            margin-bottom: 30px;
            p {
              a {
                color: black;
                font-weight: 600;
              }
            }
          }

          h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
          }
        }
        #false {
          color: red;
          text-align: center;
          p {
            font-size: 20px;
            font-weight: 650;
          }
        }
        .main_box.register {
          position: absolute;
          transform: translateX(500px);
          width: 80%;
          left: 30px;
          min-height: 30vh;
          transition: none;
          margin-bottom: 20px;
          h1 {
            margin-top: 25px;
          }
          .input_box {
            position: relative;
            height: 52px;
            width: 100%;
            border-bottom: 2px solid black;
            margin: 32px 0;
            label {
              position: absolute;
              left: 6px;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              color: black;
              font-size: 17px;
              font-weight: 600;
              transition: all ease 0.5s;
              color: white;
            }
            input {
              background: transparent;
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
              font-size: 17px;
              font-weight: 600;
              padding: 0 30px 0 6px;
            }
            .icon {
              position: absolute;
              right: 9px;
              font-size: 19px;
              color: white;
              cursor: pointer;
            }
            input:focus ~ label,
            input:valid ~ label {
              top: -3px;
            }
          }
          .check {
            font-size: 15px;
            font-weight: 500;
            color: white;
            margin: -14px 0 15px;
            display: flex;
            justify-content: space-between;
            label {
              input {
                cursor: pointer;
                margin-right: 5px;
                accent-color: black;
              }
            }
            a {
              color: white;
            }
          }
          .main_btn {
            background-color: black;
            width: 100%;
            height: 43px;
            border-radius: 8px;
            font-size: 17px;
            font-weight: 600;
            color: white;
            border: none;
            border: 2px solid #212526;
            transition: 0.7s;
            cursor: pointer;
            margin-bottom: 25px;
            &:hover {
              background-color: white;
              color: #212526;
              border: 2px solid #212526;
              transition: 0.7s;
            }
          }
          .login {
            text-align: center;
            color: white;
            font-size: 15px;
            font-weight: 550;
            margin-bottom: 30px;
            p {
              a {
                color: black;
                font-weight: 600;
              }
            }
          }
          .login {
            text-align: center;
            color: white;
            font-size: 15px;
            font-weight: 550;
            margin-bottom: 30px;
            p {
              a {
                color: black;
                font-weight: 600;
              }
            }
          }

          h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
          }
        }
        #succes {
          text-align: center;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            color: green;
            font-weight: 600;
            font-size: 18px;
            i {
              color: green;
              font-weight: 900;
            }
          }
        }
        .close_icon {
          position: absolute;
          left: 0;
          top: 0;
          width: 44px;
          height: 44px;
          background-color: #212526;
          color: #fff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          z-index: 1;
          border-bottom-right-radius: 15px;
          border-top-left-radius: 15px;
          cursor: pointer;
        }
      }
      .loginAndRegister.active {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        .main_box.login {
          transition: none;
          transform: translateX(-500px);
        }
        .main_box.register {
          transition: transform 0.2s ease;
          transform: translateX(0);
        }
      }
      .loginAndRegister.active-popup {
        transform: scale(1);
      }
      .systemText {
        width: 100%;

        h1 {
          font-size: 70px;
          font-weight: 600;
          width: 60%;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #backImage {
    min-height: 800px;
    .black {
    min-height: 800px;
      .container {
        .systemText {
          text-align: center;
          display: flex;
          justify-content: center;
          h1 {
            font-size: 35px;
          }
        }
        .loginAndRegister {
          width: 100%;
          min-height: 80vh;
          .main_box.login {
            height: 500px;
            .check{
              a{
                font-size: 13px;
              }
              label{
                font-size: 13px;
              }
            }
          }
          #false {
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

#mezunSection {
  .mezunText {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    margin-top: 25px;
    h1 {
      font-weight: 650;
    }
    #lorem {
      font-size: 21px;
      font-weight: 600;
    }
    p {
      width: 80%;
    }
    button {
      width: 100px;
      border: none;
      outline: none;
      background-color: transparent;
      text-decoration: underline red;

    }
  }
  .mezunImage {
    img {
      width: 100%;
      height: auto;
    }
    .mezunNumber {
      padding: 25px;
      color: white;
      background: linear-gradient(to right, rgb(246, 22, 22), purple);
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 15px;
      text-align: center;
      p {
        font-weight: 650;
      }
    }
  }
}

#newsSection {
  margin-top: 30px;
  background-color: #fff;
  width: 100%;
  min-height: 850px;
  background-size: cover;
  background-position: center;

  .newsThreeDiv {
    background-color: white;
    border-radius: 15px;
    transition: 1s;
    border: 1px solid gray;
    &:hover {
      box-shadow: 0 0 5px 3px gray;
      scale: 1.1;
      transition: 1s;
      cursor: pointer;
    }
    .newsDivImage {
      img {
        width: 100%;
        height: 250px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        object-fit: cover;
      }
    }
    .newsText {
      padding: 28px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      a {
        &:hover i {
          transform: translateX(5px);
        }
      }
    }
  }
  .moreBtn {
    a {
      button {
        border: none;
        background-color: #6391fd;
        padding: 8px;
        color: white;
        cursor: pointer;
        transition: all 0.7s ease;
        border-radius: 30px;
        border: 2px solid #6391fd;

        &:hover {
          background-color: transparent;
          color: black;
          border: 2px solid #6391fd;
          transition: all 0.7s ease;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #newsSection {
    .newsDiv {
      h1 {
        font-size: 32px;
      }
    }
  }
}

.projectsDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  h1 {
    width: 50%;
    font-size: 50px;
    font-weight: 640;
  }
}

#backPhoto {
  background-image: url(../../../assets/images/info_block_bg.jpg);
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  .institutionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 60px;
      font-weight: 600;
    }
  }
  .institutionİmgs {
    img {
      width: 100%;
      height: auto;
    }
    #unicef {
      margin-top: 25px;
    }
  }
}

@media (max-width: 600px) {
  #backPhoto {
    .institutionDiv {
      text-align: center;
      h1 {
        font-size: 40px;
      }
    }
  }
}

footer {
  background-color: #212526;
  color: white;
  width: 100%;
  min-height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .container {
    .map_uni {
      h4 {
        text-decoration: underline red;
      }
      iframe {
        margin-top: 20px;
      }
    }
    .end_text {
      width: 100%;
      h4 {
        text-decoration: underline red;
      }
      h6 {
        margin: 28px 0;
      }
      span {
        display: flex;
      }
      p {
        width: 60%;
      }
    }
    .end_news {
      h4 {
        text-decoration: underline red;
      }
      ul {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 20px;
        li {
          a {
            color: white;
          }
        }
      }
    }
  }
}
