* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .user {
    a {
      button {
        border: none;
        outline: none;
        padding: 5px;
        background-color: transparent;
        font-size: 25px;
        cursor: pointer;
        transition: 0.6s;
        &:hover {
          color: blue;
        }
      }
    }
  }
}

@media (max-width:600px){
  .info_div{
    display: flex;
    align-items: center;
    h1{
      font-size: 30px;
    }
  }
}

#newDiv {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 25px;
  .boxChoose {
    .teachDiv {
      border: 2px solid;
      margin-bottom: 20px;
      padding: 25px;
      box-shadow: 0 7px 15px gray;
      border-radius: 10px;
      img {
        width: 220px;
        height: 200px;
      }
      .teachText {
        margin-top: 10px;
        span {
          display: flex;
          flex-direction: column;
        }
        button {
          padding: 3px 25px;
          margin-top: 8px;
          border: none;
          background-color: #675cff;
          border: 2px solid #675cff;
          color: #fff;
          transition: all 0.6s ease;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            border: 2px solid #675cff;
            background-color: #fff;
            color: #272727;
            transition: all 0.6s ease;
          }
        }
      }
    }
  }
}

@media(max-width:600px){
  #newDiv{
    .boxChoose{
      .teachDiv{
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.backBtn {
  margin: 20px;
  button {
    padding: 5px 15px;
    margin-top: 8px;
    border: none;
    background-color: #675cff;
    border: 2px solid #675cff;
    color: #fff;
    transition: all 0.6s ease;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      border: 2px solid #675cff;
      background-color: #fff;
      color: #272727;
      transition: all 0.6s ease;
    }
  }
}

#mainSec {
  .enterCalc {
    background-color: #6D7A82;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    gap: 30px;
    border-radius: 10px;
    .enterDivs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .enterInp {
        display: flex;
        flex-direction: column;
        label {
          font-weight: 600;
          font-size: 20px;
        }
        input {
          padding: 8px;
          width: 380px;
          border-radius: 5px;
          border: none;
          outline: none;
        }
      }
      .enterButton {
        text-align: center;
        margin-top: 18px;
        button {
          padding: 5px 25px;
          border: none;
          border-radius: 5px;
          font-weight: 600;
          border: 2px solid #fff;
          transition: all 0.5s ease;
          &:hover {
            background-color: transparent;
            color: white;
            border: 2px solid #fff;
            transition: all 0.5s ease;
          }
        }
      }
      .resultEnter{
        #resultİd{
          padding: 5px;
          text-align: center;
          margin-top: 12px;
          border-radius: 10px;
        }
      }
    }
  }
  .exam_result{
    background-color: #6D7A82;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     min-height: 60vh;
    gap: 30px;
    border-radius: 10px;
    margin-top: 30px;
    .exam_div{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .examinp{
        display: flex;
        flex-direction: column;
        label {
          font-weight: 600;
          font-size: 20px;
        }
        input {
          padding: 8px;
          width: 380px;
          border-radius: 5px;
          border: none;
          outline: none;
        }
      }
      .exam_button{
        text-align: center;
        margin-top: 18px;
        button {
          padding: 5px 25px;
          outline: none;
          border: none;
          border-radius: 5px;
          font-weight: 600;
          border: 2px solid #fff;
          transition: all 0.5s ease;
          &:hover {
            background-color: transparent;
            color: white;
            border: 2px solid #fff;
            transition: all 0.5s ease;
          }
        }
      }
      #numberResult{
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
        font-size: 19px;
      }
      #stringResult{
        text-align: center;
        padding: 5px;
        font-weight: 650;
        border-radius: 8px;
      }
    }
  }
  .main{
    background-color: #6D7A82;
    color: #fff;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    gap: 30px;
    border-radius: 10px;
    margin-top: 30px;
    .note{
      display: flex;
      flex-direction: column;
      gap: 15px;
      .calc{
        display: flex;
        flex-direction: column;
        label {
          font-weight: 550;
          font-size: 20px;
        }
        input {
          padding: 8px;
          width: 380px;
          border-radius: 5px;
          border: none;
          outline: none;
        }
      }
      .butonsCalc{
        text-align: center;
        margin-top: 18px;
        button {
          padding: 5px 25px;
          outline: none;
          border: none;
          border-radius: 5px;
          font-weight: 600;
          border: 2px solid #fff;
          transition: all 0.5s ease;
          &:hover {
            background-color: transparent;
            color: white;
            border: 2px solid #fff;
            transition: all 0.5s ease;
          }
        }
      }
      .result{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        #ortalama{
          width: 40%;
          border-radius: 5px;
          background-color: rgb(5, 215, 145);
        }
      }
    }
  }
}

@media (max-width:500px){
  #mainSec{
    .main{
      h2{
        font-size: 26px;
        text-align: center;
      }
      .note{
        .calc{
          input{
            width: 240px;
          }
          label{
            font-weight: 500;
            font-size: 17px;
          }
        }
      }
    }
    .exam_result{
      h2{
        font-size: 26px;
        text-align: center;
      }
      .exam_div{
        .examinp{
          input{
            width: 240px;
          }
          label{
            font-weight: 500;
            font-size: 18;
          }
        }
      }
    }
    .enterCalc{
      h2{
        font-size: 26px;
        text-align: center;
      }
      .enterDivs{
        .enterInp{
          input{
            width: 240px;
          }
          label{
            font-weight: 500;
            font-size: 18;
          }
        }
      }
    }
  }
}